<!DOCTYPE html>
<html lang="en" ng-app='customDirective'>
<head>
  <meta charset="UTF-8">
  <title>ng-src & np-cloak en AngularJS</title>
  <script src="../angular.min.js"></script>
  <script src="app.js"></script>
    <style>
        [ng\: cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x- ng-cloak{
          display: none !important;
        }
        .circular{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: inline-block;
        }
    </style>
</head>
<body ng-controller="AppCtrl">
  <ul class="no-list" ng-cloak>
      <li ng-repeat="repo in repos">
          <div class="circular" back-img='{{repo.owner.avatar_url}}'>
          </div>
          <h1>{{repo.name}}</h1>
      </li>
      <li ng-repeat="repo in repos">></li>
  </ul>
</body>
</html>