<!DOCTYPE html>
<html lang="en" ng-app='toDoList'>
<head>
  <meta charset="UTF-8">
  <title>Services con AngularJS</title>
  <script src="../angular.min.js"></script>
  <script src="angular-local-storage.min.js"></script>
  <script src="controller.js"></script>
  <style>
    [ng\: cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x- ng-cloak{
      display: none !important;
    }
  </style>
</head>
  <body ng-controller="ToDoController">
    <ul>
      <li ng-repeat="actividad in todo">
        {{actividad.descripcion}} - {{actividad.fecha | date: 'short'}}
        -
        <a href="#" ng-click="removeActv(actividad)" style="color:red">X</a>
      </li>
    </ul>
    <form ng-submit="addActv()">
      <input type="text" ng-model='newActv.descripcion' placeholder="Descripcion">
      <input type="datetime-local" ng-model='newActv.fecha'>
      <input type="submit" value="Guardar">
    </form>
    <button ng-click="clean()">Limpiar</button>

  </body>
</html>